*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, p, td, th, li, a, label, input, p {
    font-family: 'Montserrat',Arial,sans-serif;
}

header, body, footer {
    max-width: 1920px;
    margin: auto;
}

li {
    list-style: none;
}

header {
    max-width: 1920px;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    background: #000000;
    z-index: 5;
    box-shadow: -1px 3px 5px 0px rgba(105,105,105,0.75);
    -webkit-box-shadow: -1px 3px 5px 0px rgb(105 105 105 / 75%);
    -moz-box-shadow: -1px 6px 5px 0px rgba(105,105,105,0.75);
    height: 76px;
}

#logo {
    background: url(/img/logo.svg);
    width: 230px;
    height: 102px;
    background-repeat: no-repeat;
    font-size: 0px;
    position: absolute;
    z-index: 1000;
    left: calc(50% - 120px);
    top: 12px
}

#hamburguesa li:last-child {
    display: none;
}

#barra {
    background: #000000;
    position: absolute;
    top: 75px;
    height: calc(100vh - 4em);
    left: -100vw;
    transition: all 500ms;
    z-index: 10000;
    position: fixed;
    padding: 0px 20px;
    padding-top: 26px;
    width: 100%;
}

#barra li {
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
    list-style: none;
}

#barra li a {
    font-weight: bold;
    background: #000000;
    padding: 1em;
    display: block;
    color: #f8b11e;
    text-decoration: none;
}

#barra li a:hover {
    color: #ffffff;
}

#hamburguesa li {
    top: 20px;
    position: absolute;
    right: -10px;
    z-index: 10000px;
    list-style: none;
    position: fixed;
}

#hamburguesa li a {
    width: 20px;
    height: 20px;
    display: block;
    text-indent: -700px;
    overflow: hidden;
    background-size: cover;
    margin-top: 9px;
    margin-right: 19px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}

.login form {
    background-color: #000000;
    border: 3px solid #000000;
    width: 40% !important;
    margin: auto;
    border-radius: 4px !important;
    padding: 80px 40px !important;
}

.login form button {
    background-color: #f8b11e;
    color: #000000;
    margin-top: 25px;
}

.login form input {
    background-color: #000000;
    color: #f8b11e;
    border-color: #656565 !important;
    height: 50px;
    border-radius: 10px;
}

.titulo-login {
    text-align: center;
    color: #f8b11e;
}

form {
    border: 3px solid #000000;
    width: 90%;
    border-radius: 4px;
    padding: 20px 10px;
}

form label {
    display: block;
    color: rgb(182, 182, 182);
    margin-bottom: 5px;
}

form input {
    width: 100%;
}

form textarea {
    width: 100%;
    resize: none;
}

form input {
    padding: 10px;
}

form button {
    background-color: #000000;
    color: #f8b11e;
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: 550ms;
    width: 100%;
}

form button:hover {
    background-color: #0f0f0f;
    border: 2px solid #0f0f0f;
    color: #e8a41c;
    transition: 550ms;
}

form input[type="text"], input[type="email"], input[type="password"], textarea {
    border: 2px solid rgb(30, 30, 30);
    border-radius: 10px;
    margin-bottom: 14px;
}

form input[type="date"] {
    margin-bottom: 14px;
}

table {
    border-radius: 10px;
    border: 3px solid #ececec;
    border-collapse: collapse;
}

th {
    background-color: #000000;
    color: #f8b11e;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: left;
    text-align: center;
}

table tr:nth-last-child(odd) {
    background-color: #f0f0f0 ;
}

table tr:nth-last-child(even) {
    background-color: #f8f8f8;
}

tfoot td {
    background-color: #000000;
    color: #e8a41c;
    font-weight: 800;
    font-size: 1.2em;
    padding: 15px;
}

.table-detalle tbody td {
    padding: 20px;
}

.acciones {
    display: flex;
    justify-content: center;
}

.acciones img {
    width: 25px;
    margin-right: 10px;
    margin-bottom: -5px;
}

.acciones div {
    line-height: 0;
    margin: 25px;

}

.acciones a {
    text-decoration: none;
    color: #1e1e1e;
}

.section-tabla {
    margin: auto;
}

table {
    width: 100%;
}

.section-eliminar h2, p {
    text-align: center;
}

.contenedor-home {
    padding-top: 4em;
}

.container-detalle h1 {
    margin-bottom: 10px;
}

/* +++++++++++++++++ AGREGAR ++++++++++++++++++*/

.section-agregar {
    padding-top: 4em;
    width: 90%;
    margin: auto;
}

.section-agregar h3 {
    margin-bottom: 10px;
}

.form-agregar form {
    border: 3px solid #ececec;
    padding: 15px 30px;
    background-color: #f8f8f8;
}
.section-agregar h1 {
    margin-bottom: 10px;
}

.contenedor-agregar {
    display: flex;
    justify-content: space-between;
}

.section-agregar .form-agregar {
    width: 60%;
}

.section-agregar .ticket {
    width: 40%;
}

.form-agregar div {
    margin-bottom: 20px;
}

.form-agregar input {
    margin-bottom: 0px !important;
    border-radius: 3px !important;
    border: 3px solid #ececec !important;
}

.form-agregar h2 {
    margin-bottom: 20px;
}

.form-agregar button {
    margin-bottom: 20px;
}

.div-ticket {
    padding: 20px;
    font-size: 1.1em;
    border-radius: 3px;
    border: 3px solid #ececec;
}

.div-ticket:nth-child(odd) {
    background-color: #f8f8f8;
    color: #1f1f1f;
}

.div-ticket:nth-child(even) {
    background-color: #f0f0f0;
    color: #1f1f1f;
}

.total {
    background-color: #1e1e1e;
    color: #e8a41c;
    font-size: 1.4em;
    font-weight: 800;
    padding: 20px;
    border-radius: 0px 0px 3px 3px;
    margin-top: 20px;
}

/* +++++++++++++++++ ELIMINAR ++++++++++++++++++*/

.section-eliminar {
    padding-top: 4em;
}

.container-detalle {
    padding-top: 4em;
    width: 90%;
    margin: auto;
}

.section-eliminar form {
    border: 0
}

.contenedor-btones-eliminar {
    display: flex;
    justify-content: space-around;
}

.contenedor-btones-eliminar button {
    width: 40%;
}

/* +++++++++++++++++ EDITAR ++++++++++++++++++*/

.section-editar {
    padding-top: 4em;
}

.contenedor-editar-pedido {
    margin: auto;
    width: 90%;
}

.div-form-editar-pedido {
    width: 100%;
}

.form-editar-pedido {
    width: 100% !important;
    border: 3px solid #ececec;
    padding: 15px 30px;
    background-color: #f8f8f8;
}

.form-editar-pedido input {
    margin-bottom: 20px !important;
    border-radius: 3px !important;
    border: 3px solid #ececec !important;
}

.producto-item {
    width: 48%;
    border: 3px solid #ececec;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.producto-item input {
    width: 70%;
}

.producto-item h2 {
    margin-bottom: 20px;
}


.contenedor-form-edtiar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}

.div-botones-editar {
    display: flex;
    width: 30%;
}

.div-botones-editar button {
    margin-right: 20px;
}

.div-botones-editar button:nth-last-child() {
    background-color: #fff !important;
}

body{
    position: relative;
    padding-bottom: 120px;
    min-height: 100vh;
}

.bienvenida {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 30px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #f8b11e;
}

.contenedor-home {
    width: 90%;
    margin: auto;
}

.btn-dark {
    background-color: #000000;
    color: #e8a41c;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.btn-light {
    background-color: transparent;
    color: #000000;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 30px;
    border-color: #666666;
}

.btn-light:hover {
    background-color: transparent;
    color: #000000;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 30px;
    border-color: #666666;
}

#cerrar-sesion {
    cursor:pointer;
}

.success {
    background-color: #0abf64;
    color: #fcfcfc;
    position: absolute;
    top: 30px;
    right: 0;
    padding: 20px;
    box-shadow: -1px 3px 5px 0px rgba(105,105,105,0.75);
    -webkit-box-shadow: -1px 3px 5px 0px rgb(105 105 105 / 75%);
    -moz-box-shadow: -1px 6px 5px 0px rgba(105,105,105,0.75);
    display: flex;
    align-items: center;
    border-radius: 0px 3px 3px 0px;
}

.success img {
    width: 40px;
    display: block;
    margin-right: 10px;
}

.success p {
    color: #ffffff;
    font-weight: 800;
}

.error {
    background-color: #d93030;
    color: #ffffff;
    position: absolute;
    top: 30px;
    right: 0px;
    padding: 20px;
    box-shadow: -1px 3px 5px 0px rgba(105,105,105,0.75);
    -webkit-box-shadow: -1px 3px 5px 0px rgb(105 105 105 / 75%);
    -moz-box-shadow: -1px 6px 5px 0px rgba(105,105,105,0.75);
    display: flex;
    align-items: center;
    border-radius: 0px 3px 3px 0px;
}

.error img {
    width: 40px;
    display: block;
    margin-right: 10px;
}

.error p {
    color: #fff;
}

.errores-login p {
    color: #f8b11e;
    margin: 10px 0;
    text-align: left;
}

.error {
    color: #ffffff;
}

.section-agregar form label {
    color: #000000;
    font-weight: 600;
}

.section-editar form label {
    color: #000000;
    font-weight: 600;
}

.section-editar form input{
    margin-bottom: 20px;
}

.login a {
    color: #f8b11e;
    cursor: pointer;
    margin-bottom: 30px;
}

/************ EDITAR PERFIL **********/

.section-editar-perfil {
    padding-top: 4em;
    width: 90%;
    margin: auto;
}

.section-editar-perfil h1 {
    margin-bottom: 10px;
}

.form-editar-perfil {
    border: 3px solid #ececec;
    background-color: #a5a5a5;
}

.form-editar-perfil {
    width: 70% !important;
    border: 3px solid #ececec;
    padding: 15px 30px;
    background-color: #f8f8f8;
}

.form-editar-perfil input {
    margin-bottom: 20px !important;
    border-radius: 3px !important;
    border: 3px solid #ececec !important;
}

.form-editar-perfil label {
    color: #000000;
}

/* Reset */
.contenedor-app {
    margin: 0;
    display: flex;
    justify-content: center;
}

/* Botón de Toggle */
#toggle-btn {
    position: absolute;
    top: 5em;
    right: 12px;
    background-color: #e8a41c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 3px;
    width: 40px;
}

/* Sidebar */
#sidebar {
    height: 100vh;
    background: #000000;
    color: white;
    padding-top: 4em;
    transition: all 0.3s ease;
    position: relative;
}

.sidebar.open {
    width: 20%;
}

/* Ocultar Sidebar */
.sidebar.closed {
    width: 5%;
    transition: all 0.3s ease;
}

/* Navegación */
nav a {
    display: flex;
    align-items: center;
    color: #f8b11e;
    text-decoration: none;
    padding: 10px 0;
    font-size: 18px;
}

nav a i {
    margin-right: 10px;
}

.main-open {
    width: 80vw;
    transition: width 0.3s ease;
}

.main-closed {
    width: 95%;
    transition: width 0.3s ease;
}

.nav-open {
    padding: 30px;
    transform:  translateX(0vw);
    transition: all 0.3s ease;
    padding-top: 0;
}

.nav-open h2 {
    margin-bottom: 1.4em;
}

.nav-open a {
    margin-bottom: .3em;
    text-decoration: none;
}

.nav-open li {
    list-style: none;
}

.nav-closed {
    transform:  translateX(-100vw);
    transition: all 0.3s ease;
}

.barra-block {
    display: block;
}

.barra-none {
    display: none;
}

.inicio-sesion p {
    text-align: left;
}

@media screen and (max-width: 758px) {

    h1 {
    margin-bottom: .5em;
    }

    .success {
        color: #ffffff;
        position: absolute;
        top: 76px;
        width: 100%;
        text-align: left;
        padding: 15px;
        box-shadow: -1px 3px 5px 0px rgba(105,105,105,0.75);
        -webkit-box-shadow: -1px 3px 5px 0px rgb(105 105 105 / 75%);
        -moz-box-shadow: -1px 6px 5px 0px rgba(105,105,105,0.75);
    }

    .error {
        color: #ffffff;
        position: absolute;
        top: 76px;
        width: 100%;
        text-align: left;
        padding: 15px;
        box-shadow: -1px 3px 5px 0px rgba(105,105,105,0.75);
        -webkit-box-shadow: -1px 3px 5px 0px rgb(105 105 105 / 75%);
        -moz-box-shadow: -1px 6px 5px 0px rgba(105,105,105,0.75);
    }

    .hambtrue {
        background: url(/img/abrir-menu.svg) center center;
    }

    .hambfalse {
        background: url(/img/cerrar-menu.svg) center center;
    }

    .barrafalse {
        background-color: #000000 !important;
        left: 0vw !important;
        transition: all 500ms;
    }

    .barratrue {
        background-color: #000000 !important;
        left: -100vw !important;
        transition: all 500ms;
    }

    .section-tabla {
        border: 0px solid black;
        width: 95%;
        margin: auto;
    }

    td {
        border-collapse: collapse;
        border: 0px solid black;
        padding: 10px;
        text-align: left;
    }

    table {
        border: 0px;
    }
    table caption {
        font-size: 22px;
    }
    table thead {
        display: none;
    }
    table tr {
        margin-bottom: 20px;
        border-bottom: 2px solid #a5a5a5;
        display: block;
        box-shadow: -1px 3px 5px 0px rgba(105,105,105,0.75);
        -webkit-box-shadow: 0px 2px 5px 0px rgb(105 105 105 / 75%);
        -moz-box-shadow: -1px 6px 5px 0px rgba(105,105,105,0.75);
    }
    table th, table td {
        font-size: 16px;
    }
    table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }

    table  td:last-child {
        border-bottom: 0px;
    }

    table td::before {
        content: attr(data-label);
        text-transform: uppercase;
        float: left;
    }

    table td::before:first-child {
        display: none;
    }

    .login form {
        width: 100% !important;
    }

    .acciones img {
        width: 25px;
        margin-right: 10px;
        margin-bottom: -5px;
    }

    .acciones div {
        display: inline;
        margin-bottom: 15px;
        margin-left: 20px;
    }

    #sidebar {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%; /* Ocupar todo el ancho */
        height: 60px; /* Altura de barra inferior */
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 100000;
    }

    .contenedor-app {
        flex-direction: column;
        align-items: center;
    }

    #toggle-btn {
        display: none;
    }

    .nav-open h2 {
        display: none;
    }
    
    .nav-open a, li {
        display: inline;
    }

    .main-open {
        width: 95vw;
    }

    .nav-open a span {
        display: none;
    }

    footer {
        display: none;
    }

    .barra-none {
        display: none !important; 
    }

    /*** AGREAGR ***/

    .contenedor-agregar {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .section-agregar {
        width: 95%;
    }

    .section-agregar .form-agregar {
        width: 100%;
    }

    .section-agregar .ticket {
        width: 100%;
        margin-top: 3em;
    }

    .section-agregar h3 {
        margin-bottom: 40px;
    }

    .section-agregar .ticket .total {
        margin-top: 3em;
    }

    form {
        width: 100% !important;
    };

    .contenedor-form-edtiar {
        flex-direction: column;
    }

    .acciones a {
        font-size: 0;
    }

    .acciones td:first-child {
        display: none;
    }
    
    
}

@media (min-width: 1200px) {

    header {
        height: 82px;
        display: flex;
        justify-content: flex-end;
        z-index: 3;
        left: 0;
        padding-right: 5em;
    }

    header nav {
    position: relative;
    background: #a34242;
    left: 0vw;
    width: 70%;
    transition: 0.7s;
    z-index: 5;
    height: 100%;
    flex: 1;
}

  .logo {
      padding: 1em 10px;
      font-size: 0;
      display: inline-block;
      height: 69px;
      left: 2%;
      flex: 1;
      margin-left: 5em;
  }

    #logo {
        background: url(/img/logo.svg);
        background-repeat: no-repeat;
        width: 280px;
        height: 107px;
        font-size: 0;
        position: absolute;
        z-index: 1000;
        top: 4px;
        left: 40px;
    }


    #hamburguesa {
        display: none;
    }

    #barra {
        display: block;
        height: 69px;
        padding: 0;
        left: 0;
        top: 0;
        position: relative;
        width: 100%;
        background: none;
        text-align: right;
    }

    #barra li {
        display: inline-block;
        margin: 0;
        width: max-content;
    }


    #barra li a {
        font-size: 1.1em;
        font-weight: bold;
        margin: 0px;
        color: #f8b11e;
        background-color: #000000;
        transition: all 300ms;
        float: right;
        margin-left: 40px;
        margin-top: 11px;
        padding: 1em 10px;
    }

    #barra li a:hover {
        background: #000000;
        color: rgb(255, 255, 255);
        transition: all 300ms;
    }

    header nav{
        background: transparent;
        background: none;
        z-index: 30000;
        transition: none;

    }

    .section-agregar form {
        width: 90%;
    }

    .login form {
        width: 30%;
        padding: 40px 20px;
        margin: auto;
        margin-top: 1.1em;
    }

    .section-eliminar form {
        width: 40%;
        margin: auto;
        margin-top: 1.4em;
    }

    .section-editar form {
        width: 40%;
        margin: auto;
        margin-top: 1.4em;
    }

}